*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build and Output
*.apk
*.aab
*.dex
build/
bin/
gen/

# Local Configuration and IDE
.gradle/
.idea/

# Specific IDE and Temporary Files
captures/
.externalNativeBuild/
.cxx/
*.hprof
